# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local
